<div class="form-container">
  <h2>Create Your Team</h2>

  <div class="form-wrapper">
    <%= form_for Team.new do |f| %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "field-text" %>
      </div>

      <div class="actions">
        <%= f.submit "Create Team", class: "form-button", data: {test: "create-team"} %>
      </div>
    <% end %>
  </div>
</div>