<%= render 'teams/header' %>

<section id="team-lessons" class="content-section">
  <h2>Lessons</h2>
  <% if @team.lessons.count > 0 %>
    <ul>
      <% @team.lessons.each do |lesson| %>
        <li><%= link_to lesson.title, team_lesson_path(team_id: @team.id, id: lesson.id) %></li>
      <% end %>
    </ul>

    <div class="btn-container">
      <%= link_to "Add a new lesson", new_team_lesson_path(team_id: @team.id), class: "btn btn-primary" %>
    </div>
  <% else %>
    <p>There are no lessons yet. Create your first lesson <%= link_to "here", new_team_lesson_path(team_id: @team.id) %>.</p>
  <% end %>
</section>