<%= render 'teams/header' %>

<section id="team-lessons" class="content-section">
  <h2>Lessons</h2>
  <% if @team.lessons.count > 0 %>
  <% else %>
    <p>There are no lessons yet.</p>
  <% end %>
</section>