@use '../resources/breakpoints.scss';
@use '../resources/colors.scss';

.content-container {
  padding: 0rem;
}

.divider {
  border-bottom: 1px solid colors.$divider-color;
  margin: 1rem;
}

// Specific styles for content
.welcome-msg, .under-construction {
  text-align: center;
}

// media queries for responsiveness
@media (min-width: breakpoints.$md) {
  .content-container {
    padding: 1rem;
  }
}