nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  a, a:visited {
    color: $navbar-text;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background-color: $navbar-text;
    color: $navbar-bg;
  }
}

.nav-logo {
  padding: 0 1rem;
}

.drawer-nav {
  display: flex;
  flex-direction: column;
  min-width: $drawer-width;
  padding: 1rem;
  text-align: center;
  // align-items: center;
  // justify-content: center;
  // height: 100%;

  .drawer-btn-container {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0 1rem 1rem 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      button {
        width: 100%;
        margin: 0.5rem 0;
      }
    }
  }

  a, a:visited {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $navbar-bg;
      color: $navbar-text;
    }
  }
}

@media (min-width: $breakpoint-md) {
  nav {
    a, a:visited {
      padding: 1rem 1.5rem;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    // margin: auto 0;

    li {
      margin: auto 0;
    }
  }

  .nav-menu {
    list-style: none;
    display: flex;
    margin: auto 0;
    padding: 0;
  }
}
