<div id="dashboard">
  <h1>Dashboard</h1>

  <h2>Teams</h2>
  <div class="dash-teams-list">
    <% if @teams.count == 0 && @memberships.count == 0%>
      <p>You are not a member of any teams.</p>
      <p>Create your first team <%= link_to 'here', new_team_path %>.</p>
    <% end %>

  </div>
</div>