<div class="roster-dashboard">
  <div class="roster-dash-content">
    <h1><%= @lesson.name %> Roster</h1>
    <h3><%= @roster.dates %> </h3>
  </div>

  <div>
    <%= link_to "Back", :back %>
  </div>
</div>