$charcoal: rgba(38, 70, 83, 1);
$charcoal-50: rgba(38, 70, 83, 0.5);
$charcoal-50: rgba(38, 70, 83, 0.3);
$persian-green: rgba(42, 157, 143, 1);
$persian-green-50: rgba(42, 157, 143, 0.5);
$persian-green-30: rgba(42, 157, 143, 0.3);
$saffron: rgba(233, 196, 106, 1);
$saffron-50: rgba(233, 196, 106, 0.5);
$saffron-30: rgba(233, 196, 106, 0.3);
$sandy-brown: rgba(244, 162, 97, 1);
$sandy-brown-50: rgba(244, 162, 97, 0.5);
$sandy-brown-30: rgba(244, 162, 97, 0.3);
$burnt-sienna: rgba(231, 111, 81, 1);
$burnt-sienna-50: rgba(231, 111, 81, 0.5);
$burnt-sienna-30: rgba(231, 111, 81, 0.3);

$seasalt: rgba(248, 249, 250, 1);
$seasalt-50: rgba(248, 249, 250, 0.5);
$seasalt-30: rgba(248, 249, 250, 0.3);
$antiflash-white: rgba(233, 236, 239, 1);
$antiflash-white-50: rgba(233, 236, 239, 0.5);
$antiflash-white-30: rgba(233, 236, 239, 0.3);
$platinum: rgba(222, 226, 230, 1);
$platinum: rgba(222, 226, 230, 1);
$platinum: rgba(222, 226, 230, 1);
$french-gray: rgba(206, 212, 218, 1);
$french-gray: rgba(206, 212, 218, 1);
$french-gray: rgba(206, 212, 218, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$slate-gray: rgba(108, 117, 125, 1);
$slate-gray: rgba(108, 117, 125, 1);
$slate-gray: rgba(108, 117, 125, 1);
$outer-space: rgba(73, 80, 87, 1);
$outer-space: rgba(73, 80, 87, 1);
$outer-space: rgba(73, 80, 87, 1);
$onyx: rgba(52, 58, 64, 1);
$onyx: rgba(52, 58, 64, 1);
$onyx: rgba(52, 58, 64, 1);
$eerie-black: rgba(33, 37, 41, 1);
$eerie-black: rgba(33, 37, 41, 1);
$eerie-black: rgba(33, 37, 41, 1);