// Mobile devices – 320px — 480px.
// iPads, Tablets – 481px — 768px.
// Small screens, laptops – 769px — 1024px.
// Desktops, large screens – 1025px — 1200px.
// Extra large screens, TV – 1201px, and more.

$xxs: 320px;
$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1201px;

$nav-bg-color: $charcoal;
$nav-link-color: $seasalt;
$nav-link-hover: $charcoal;
$nav-link-hover-bg: $seasalt;
$text-color: $onyx;