<div class="student-dashboard student-profile">
  <div>
    <h2>
      <%= @student.name %>
    </h2>
    <h3>
      <%= @student.contact %>
    </h3>
    <div class="flex-row-sp-btwn">
      <%= link_to "Edit Student Name or Contact", edit_team_student_path(@student.team_id, @student.id), data: { test: 'edit-student' } %>

      <%= button_to "Delete Student", team_student_path(@student.team_id, @student.id), data: { confirm: 'Are you sure you want to delete this student?', test: 'delete-student' }, method: :delete, class: "delete-btn" %>
    </div>
  </div>
</div>