<div class="portal-dash student-dash">
  <div>
    <h2>Student Profile</h2>
    <div class="student-info">
      <div>
        <div>
          <strong>Name:</strong> <%= @student.name %>
        </div>
        <div>
          <strong>Email:</strong> <%= @student.email %>
        </div>
      </div>
      <div>
        <%= button_to "Delete Student", user_team_student_path(id: @student.id, user_id: @user.id, team_id: @team.id), method: :delete, class: "student-delete" %>
      </div>
    </div>
    <%= link_to "Edit Profile", edit_user_team_student_path(id: @student.id, user_id: @user.id, team_id: @team.id) %>
  </div>
</div>
