// Palette
$color-red-salsa: #F94144;
$color-orange-red: #F3722C;
$color-yellow-orange: #F8961E;
$color-mango-tango: #F9844A;
$color-maize-crayola: #F9C74F;
$color-pistachio: #90BE6D;
$color-parrot-green: #43AA8B;
$color-cadet-blue: #4D908E;
$color-queen-blue: #577590;
$color-cg-blue: #277DA1;

$color-white: #FFF;
$color-gray-lightest: #F1F1F1;
$color-gray-lighter: #D6D7D9;
$color-gray-light: #AEB0B5;
$color-gray: #5B616B;
$color-gray-dark: #323A45;

// Responsive Screen Sizes
$width-sm: 640px;
$width-md-min: 641px;
$width-md-max: 1007px;
$width-lg: 1008px;

// Variables - Unviersal
$text-color: $color-gray-dark;