body {
  margin: 0 auto;
}

a {
  color: $link-color;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
}

.base {
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  margin: 1rem 2rem;
}