body {
  margin: 0 auto;
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:visited {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

#main {
  margin: 1rem auto;
  max-width: $width-md-max;
} 