// Colors
$color-rosewood: #4F0204;
$color-red-salsa: #F94144;
$color-pale-pink: #FED7D8;
$color-orange-red: #F3722C;
$color-yellow-orange: #F8961E;
$color-mango-tango: #F9844A;
$color-maize-crayola: #F9C74F;
$color-pistachio: #90BE6D;
$color-parrot-green: #43AA8B;
$color-cadet-blue: #4D908E;
$color-queen-blue: #577590;
$color-colombia-blue: #BDE0EF;
$color-maximum-blue: #5BB2D7;
$color-cg-blue: #277DA1;
$color-blue-sapphire: #184C63;

// Monochrome
$color-white: #FFF;
$color-gray-lightest: #F1F1F1;
$color-gray-lighter: #D6D7D9;
$color-gray-light: #AEB0B5;
$color-gray: #5B616B;
$color-gray-dark: #323A45;