// Basics
$text-color: $color-gray-dark;

// Alerts & Notices
$alert-bar-color: $color-red-salsa;
$alert-bg-color: $color-pale-pink;
$notice-bar-color: $color-maximum-blue;
$notice-bg-color: $color-colombia-blue;
$color-warn: $color-rufous;

// Forms
$border-color: $color-gray-dark;
$form-btn-color: $color-cg-blue;
$form-btn-color-hover: $color-blue-sapphire;
$header-2-color: $color-parrot-green;
$link-color: $color-cg-blue;
$link-hover-color: $color-gray-dark;

// Nav Bar
$navbar-color: $color-cg-blue;
$navbar-link: $color-gray-lightest;
$navbar-link-hover: $color-maize-crayola;

// Buttons

.delete-btn {
  background-color: $color-rufous;
  border: 0;
  border-radius: 3px;
  color: $color-white;
  font-weight: 700;
  margin: 10px 0;
  padding: 3px 8px;
}

.delete-btn:hover {
  background-color: $color-gray-dark;
}

// Flex

.flex-row {
  display: flex;
  flex-direction: row;

  div {
    margin: 10px 0;
    min-width: 130px;
  }
}

.flex-row-sp-btwn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Links
.profile-link {
  font-weight: 400;
  text-decoration: underline;
}

.profile-link:hover {
  text-decoration: none;
}

.profile-link > *:first-child {
  padding-right: 5px;
}