// Basics
$text-color: $color-gray-dark;

// Alerts & Notices
$alert-bar-color: $color-red-salsa;
$alert-bg-color: $color-pale-pink;
$notice-bar-color: $color-maximum-blue;
$notice-bg-color: $color-colombia-blue;
$color-warn: $color-rufous;

// Forms
$border-color: $color-gray-dark;
$form-btn-color: $color-cg-blue;
$form-btn-color-hover: $color-blue-sapphire;
$header-2-color: $color-parrot-green;
$link-color: $color-cg-blue;
$link-hover-color: $color-gray-dark;

// Nav Bar
$navbar-color: $color-cg-blue;
$navbar-link: $color-gray-lightest;
$navbar-link-hover: $color-maize-crayola;

// Flex

.flex-row {
  display: flex;
  flex-direction: row;
}