@import './1_variables.scss';

body {
  // color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.no-scroll {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

nav {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
  padding: 1rem;
}

footer {
  flex: 0 1 auto;
}