/* Colors */
$sky-blue: rgba(142, 202, 230, 1);
$sky-blue-50: rgba(142, 202, 230, 0.5);
$sky-blue-30: rgba(142, 202, 230, 0.3);
$blue-green: rgba(33, 158, 188, 1);
$blue-green-50: rgba(33, 158, 188, 0.5);
$blue-green-30: rgba(33, 158, 188, 0.3);
$prussian-blue: rgba(2, 48, 71, 1);
$prussian-blue-50: rgba(2, 48, 71, 0.5);
$prussian-blue-30: rgba(2, 48, 71, 0.3);
$selective-yellow: rgba(255, 183, 3, 1);
$selective-yellow-50: rgba(255, 183, 3, 0.5);
$selective-yellow-30: rgba(255, 183, 3, 0.3);
$ut-orange: rgba(251, 133, 0, 1);
$ut-orange-50: rgba(251, 133, 0, 0.5);
$ut-orange-30: rgba(251, 133, 0, 0.3);
$forest-green: rgba(34, 139, 34, 1);
$forest-green-50: rgba(34, 139, 34, 0.5);
$forest-green-30: rgba(34, 139, 34, 0.3);
$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);
$french-gray: rgba(206, 212, 218, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$slate-gray: rgba(108, 117, 125, 1);
$outer-space: rgba(73, 80, 87, 1);
$onyx: rgba(52, 58, 64, 1);
$eerie-black: rgba(33, 37, 41, 1);
$white: #FFF;

/* Breakpoints & ScreenSizes */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$screen-xxs: 320px;

/* Links */
$link-color: $blue-green;

/* Body */
$body-background: $seasalt;
$text-color: $outer-space;

/* Navigation */
$nav-background: $prussian-blue;
$nav-height: 3rem;
$nav-link-color: $antiflash-white;
$nav-link-hover: $selective-yellow;

/* Footer */
$footer-background: $platinum;

/* Dashboard */
$teams-border-color: $blue-green;

/* Buttons */
$button-background: $sky-blue;
$button-border: 1px solid $sky-blue;
$button-border-hover: 1px solid $blue-green;
$button-color: $outer-space;
$button-background-hover: $antiflash-white;
$button-color-hover: $prussian-blue;

/* Forms */
$form-background: $white;
$form-border:  1px solid $french-gray;
$form-box-shadow: 0.25rem 0.125rem 0.25rem rgba($outer-space, 0.075);
$form-header-color: $prussian-blue;
$text-border: 1px solid $outer-space;
$focus-border: 5px solid $selective-yellow;
