<% if notice %>
  <div class="alert-notice-container">
    <div class="notice status-update">
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div class="alert-notice-container">
    <div class="alert status-update">
      <%= alert %>
    </div>
  </div>
<% end %>
