<% if notice %>
<% end %>
  <div class="alert"">
    <div class="alert__body">
      <div class="alert__icon">
        <%= icon('fa-regular', 'circle-check')%>
      </div>
      <h3 class="alert__heading">Notice</h3>
    </div>
  </div>

<% if alert %>
<% end %>
  <div class="alert alert--error"">
    <div class="alert__body">
      <h3 class="alert__heading">Alert</h3>
    </div>
  </div>
