@use 'sass:color';

$cornell-red: rgba(188, 2, 22, 1);
$folly: rgba(250, 64, 89, 1);
$orange-peel: rgba(253, 163, 26, 1);
$pakistan-green: rgba(23, 61, 23, 1);
$pakistan-green-50: rgba(23, 61, 23, 0.5);
$dark-spring-green: rgba(9, 109, 46, 1);
$paynes-gray: rgba(67, 112, 124, 1);
$verdigris: rgba(25, 176, 177, 1);
$violet-blue: rgba(53, 72, 174, 1);
$violet-blue-50: rgba(53, 72, 174, 0.5);
$tufts-blue: rgba(71, 141, 211, 1);
$lavender-web: rgba(224, 226, 238, 1);

$eerie-black: rgba(33, 37, 41, 1);
$onyx: rgba(52, 58, 64, 1);
$outer-space: rgba(73, 80, 87, 1);
$slate-gray: rgba(108, 117, 125, 1);
$french-gray-2: rgba(173, 181, 189, 1);
$french-gray: rgba(206, 212, 218, 1);
$seasalt: rgba(248, 249, 250, 1);
$antiflash-white: rgba(233, 236, 239, 1);
$platinum: rgba(222, 226, 230, 1);
$white: rgba(255, 255, 255, 1);

$main-bg: $seasalt;
$navbar-bg: $verdigris;
$navbar-text: $seasalt;
$footer-bg: $eerie-black;
$footer-text: $french-gray;

$button-bg: $paynes-gray;
$button-text: $seasalt;
$button-border: none;
$button-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$button-bg-hover: color.adjust($paynes-gray, $lightness: 25%);
$button-bg-disabled: color.adjust($paynes-gray, $lightness: -25%);
$button-text-disabled: $seasalt;

$button-danger-bg: $cornell-red;
$button-danger-bg-hover: color.adjust($cornell-red, $lightness: -15%);
$button-danger-bg-disabled: color.adjust($folly, $lightness: -25%);
$button-danger-text-disabled: $seasalt;

$divider-color: $french-gray-2;

$form-container-bg: $white;
$form-border-color: $paynes-gray;
$form-header-color: $paynes-gray;
$form-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

$form-input-bg-disabled: $french-gray;
$form-input-text-disabled: $slate-gray;

$link-color: $tufts-blue;
$link-color-hover: $violet-blue;