@import '../base/1_variables';

.button {
  background-color: $button-background;
  border: $button-border;
  border-radius: 0.25rem;
  color: $button-color;
  font-size: $button-text-size;
  font-weight: $button-text-weight;
  padding: $button-padding;

  &:hover {
    background-color: $button-background-hover;
    border: $button-border-hover;
    color: $button-color-hover;
    cursor: pointer;
  }

  &--danger {
    background-color: $button--danger-background;
    border: $button--danger-border;
    color: $button--danger-text;

    &:hover {
      background-color: $button--danger-background-hover;
      border: $button--danger-border-hover;
      color: $button--danger-text-hover;
    }
  }
}

.btn-container {
  padding: 1rem;
}

a.btn {
  font-weight: 700;
  text-decoration: none;

  &.btn-primary {
    background-color: $button-background;
    border: $button-border;
    border-radius: 0.25rem;
    color: $button-color;
    font-size: $button-text-size;
    font-weight: $button-text-weight;
    padding: $button-padding;

    &:hover {
      background-color: $button-background-hover;
      border: $button-border-hover;
      color: $button-color-hover;
      cursor: pointer;
    }
  }
}

