@import '../base/1_variables';

#dashboard {
  h1 {
    padding-left: 8px;
  }
  
  h2 {
    color: $teams-border-color;
    margin-bottom: 0;
  }

  h3 {
    color: $prussian-blue;
    margin-bottom: 0;
  }
}

.dash-teams-list {
  border: 1px solid $teams-border-color;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;

  h2 {
    padding-left: 0;
  }

  p+p {
    margin-top: 0.5rem;
  }
}

.team-list-section + .team-list-section {
  border-top: 1px solid $teams-border-color;
  margin-top: 1rem;
  padding-top: 1rem;
}

.dash-list.dash-list__admin {
  border: 1px solid $outer-space;
  border-radius: 0.25rem;
  margin: 1rem 1.5rem;

  .list-item+.list-item {
    border-top: 1px solid $outer-space;
  }

  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2.5rem;
    padding: 0.5rem 1rem;

    div+div {
      margin-left: 1rem;
    }

    .icon {
      font-size: 1.5rem;
    }

    .role-detail {
      color: $role-detail-color;
    }

    .confirmed-detail {
      color: $list-item-confirmed;
    }

    .unconfirmed-detail {
      color: $list-item-unconfirmed;
    }

    .list-detail {
      display: flex;
      flex-direction: row;
    }

    .joined-detail {
      color: $prussian-blue;
    }
  }
}