@import '../base/1_variables.scss';

.form-container {
  background-color: $form-background;
  border: $form-border;
  border-radius: 0.25rem;
  box-shadow: $form-box-shadow;
  margin: 0 auto;
  min-width: $screen-xxs;
}

.form-wrapper {
  padding: 0rem 1rem 1rem;

  label {
    font-weight: 700;
  }

  .field {
    margin: 0.5rem 0;
  }

  .text-input {
    border: $text-border;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 90%;
  }
}

.form-heading-wrapper {
  margin: 1rem;
  h1, h2, h3, h4, h5, h6 {
    color: $form-header-color;
  }
}

.devise-form-container {
  width: 50%;
}