@import '../base/1_variables';

#modal {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  min-width: 400px;
}

.modal-body {
  background-color: $modal-background;
  border: $modal-border;
  border-radius: 0.5rem;
  box-shadow: $modal-box-shadow;
  padding: 1rem 2rem 2rem 2rem;
  z-index: 10;

  .modal-btn__container {
    display: flex;
    justify-content: right;
  }

  .modal-btn__close {
    background-color: $modal-btn-close-background;
    border: $modal-btn-close-border;
    border-radius: 0.5rem;
    color: $modal-btn-close-color;
    font-size: 22px;
    padding: 5px;
    z-index: 20;

    &:hover {
      cursor: pointer;
    }
  }

  .modal-body__content {
    background-color: $modal-content-background;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    padding: 1.5rem 2rem 2rem 2rem;
    position: relative;
    z-index: 20;
  }

  .modal-body__header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .modal__form-wrapper {
    .input-wrapper {
      margin-bottom: 0.5rem;

      select, option {
        background-color: $form-background;
        border: $form-border;
        border-radius: 0.25rem;
        height: 2.5rem;
        width: 100%;

        &:focus {
          border: $focus-border;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .form-btn__container {
      margin-top: 1.5rem;
    }

    .modal-btn {
      background-color: $button-background;
      border: $button-border;
      border-radius: 0.25rem;
      color: $button-color;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: $button-background-hover;
        border: $button-border-hover;
        color: $button-color-hover;
        cursor: pointer;
      }
    }

    .modal-btn__cancel {
      background-color: $button-cancel-background;
      border: $button-cancel-border;
      color: $button-cancel-text;
      font-size: 1rem;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}