#modal {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background: #bad5ff;
  width: 400px;
}

.modal__body {
  padding: 2rem;
  z-index: 10;
}