@import '../base/1_variables.scss';

#main-navigation {
  min-height: $nav-height;
  // width: 100%;

  ul {
    display: flex;
    flex-direction: column;
  }

  a, a:visited {
    border-bottom: 2px solid $nav-background;
    color: $nav-link-color;
    display: inline-block;
    font-weight: 700;
    margin: 1rem;
    text-decoration: none;

    &.active {
      border-bottom: 2px solid $nav-link-color;
    }

    &:hover {
      border-bottom: 2px solid $nav-link-hover;
      color: $nav-link-hover;
    }
  }
}

@media (min-width: $breakpoint-md) {
  #main-navigation {
    ul {
      flex-direction: row;
      margin: 0 auto;
      // max-width: $breakpoint-xl;
    }
  }
}