@import "../base/1_variables";

.page-container {
  margin: 0 auto;
  width: 100%;
}

.page-header {
  .page-header__heading {
    font-size: 2rem;
    text-align: center;
  }

  .page-header__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.content-section {
  border: $section-border;
  border-radius: 0.25rem;
  padding: 1rem;
}

.admin-content,
.dashboard-content,
.lessons-content,
.public-content,
.users-content,
.teams-content,
.team_ownerships-content {
  background-color: $white;
  box-shadow: $main-box-shadow;
  
  .container.plus-one {
    padding: 1rem;
  }
}