@import '../base/1_variables';

.profile-detail {
  display: flex;
  flex-direction: row;

  .badge-container+.badge-container {
    margin-left: 1.5rem;
  }

  .badge-container {
    display: flex;
    flex-direction: row;

    .icon {
      margin-right: 0.5rem;
    }

    .badge-text {
      line-height: 1.5rem;
    }
  }

}

.confirmed {
  color: $list-item-confirmed;
}

.unconfirmed {
  color: $list-item-unconfirmed;
}