.alert-notice-container{
  font-weight: bold;

  .alert {
    background-color: $alert-bg-color;
    border-left: 8px solid $alert-bar-color;
  }

  .notice {
    background-color: $notice-bg-color;
    border-left: 8px solid $notice-bar-color;
  }
  
  .status-update {
    padding: 10px 15px;
  }
}

#error_explanation {
  margin-bottom: 1.5rem;
}