.lesson-dash {
  padding: 0 2rem;
}

.lesson-header {
  color: $color-parrot-green;
}

.lesson-link, .lesson-link:visited {
  font-size: 12px !important;
  font-weight: 400;
}

.lesson-desc {
  margin: 1rem 0;
}

.lesson-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-delete {
  background-color: $color-warn;
  border: 1px solid $color-warn;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
  font-weight: 600;
}