.invite-members-container {
  margin-bottom: 2rem;
  text-align: center;
}

#team-members {
  .content-section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}