.navbar {
  background-color: $navbar-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a, a:visited {
    color: $navbar-link;
    font-weight: 700;
    padding: 15px 25px;
    text-decoration: none;
  }

  a:hover {
    color: $navbar-link-hover;
    background-color: $color-blue-sapphire;
    color: $navbar-link-hover;
  }

  ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
  }

  .btn_sign-out {
    background-color: $navbar-color;
    border: 0px;
    color: $navbar-link;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
  }

  .btn_sign-out:hover {
    background-color: $color-blue-sapphire;
    color: $navbar-link-hover;
    cursor: pointer;
  }
}

.skip-nav {
  left: 0;
  padding: 8px 16px;
  position: absolute;
  top: -96px;
  z-index: 100;
} 