.student-dash {
  label {
    font-size: 14px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .form-button {
    font-size: 14px;
  }

  .student-header {
    font-weight: 700;
    padding-bottom: 0;
  }
}

.student-list {
  font-size: 15px;
  margin: 2.5rem 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul > li {
    border-bottom: $color-gray-lighter solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  ul > *:last-child {
    border-bottom: 0px;
  }

  .profile {
    width: 75px;
  }

  .name {
    min-width: 150px;
  }

  .id {
    background-color: $color-gray-lightest;
    text-align: center;
    width: 50px;
  }

  .item {
    padding: 10px 5px;
  }
}

.student-details {
  display: flex;
  flex-direction: row;
}

.student-details > * {
  margin-right: 15px;
}

.student-link {
  display: flex;
  flex-direction: row;
}

.student-link > *:first-child {
  margin-right: 5px;
}

.student-delete {
  background-color: $color-warn;
  border: 0;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
}

.student-delete:hover {
  background: $color-gray-dark;
}