.student-dash {
  label {
    font-size: 14px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .form-button {
    font-size: 14px;
  }

  .student-header {
    font-weight: 700;
    padding-bottom: 0;
  }
}

.student-list {
  font-size: 15px;
  margin: 2.5rem 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul > li {
    border-bottom: $color-gray-lighter solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  ul > *:last-child {
    border-bottom: 0px;
  }

  .profile {
    width: 75px;
  }

  .name {
    min-width: 150px;
  }

  .id {
    background-color: $color-gray-lightest;
    text-align: center;
    width: 50px;
  }

  .item {
    padding: 10px 5px;
  }
}

.student-details {
  display: flex;
  flex-direction: row;
}

.student-details > * {
  margin-right: 15px;
}

.student-link {
  display: flex;
  flex-direction: row;
}

.student-link > *:first-child {
  margin-right: 5px;
}

.student-delete {
  background-color: $color-warn;
  border: 0;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
}

.student-delete:hover {
  background: $color-gray-dark;
}

.student-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

.class-list-container {
  margin: 2rem 0 0 0;
}

.class-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;

  .class-id {
    text-align: center;
    width: 50px;
  }

  .class-lesson {
    width: 250px;
  }
}

.class-list-item + .class-list-item {
  border-top: solid 1px $color-gray-lighter
}

.class-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    margin-right: 25px;
  }
}

.class-delete-btn-cont {
  margin-left: 50px;
  text-align: right;
  width: 140px;
}