// Resources
@use './resources/breakpoints.scss';
@use './resources/colors.scss';
@forward './components/button.scss';
@forward './components/content.scss';
@forward './components/forms.scss';
@forward './components/footer.scss';
@forward './components/navigation.scss';

// Global styles
body {
  background-color: colors.$lavender-web;
  color: colors.$onyx;
  font-family: 'Geist Sans', sans-serif;
  margin: 0;
  padding: 0;
}

main, nav, footer {
  max-width: breakpoints.$main-max-width;
  margin: 0 auto;
}

main, footer {
  padding: 1rem;
}

main {
  background-color: colors.$main-bg;
  min-height: 80vh;
}

nav {
  background-color: colors.$navbar-bg;
  color: colors.$navbar-text;
}

footer {
  background-color: colors.$footer-bg;
  color: colors.$footer-text;
  text-align: center;
}

a, a:visited {
  color: colors.$link-color;

  &:hover {
    color: colors.$link-color-hover;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family: 'Geist Mono', monospace;
  margin: 0.5rem 0;
}

// Component styles