<div id="landing-page__container">
  <div id="landing-page__header">
    <h1>Welcome to Student Rooster</h1>
  </div>

  <div class="sign-up-btn__container">
    <%= button_to "Get Started with Student Rooster", new_user_registration_path, class: 'sign_up_btn', method: :get %>
  </div>
</div>
