<h1>
  Color Swatches
</h1>

<%= render(ColorSwatchComponent.new(colorCode: "rgba(142, 202, 230, 1);",
                                    colorCode50: "rgba(142, 202, 230, 0.5);",
                                    colorCode30: "rgba(142, 202, 230, 0.3);",
                                    title: "Sky Blue")) %>
