<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <div id="app">
      <%= render partial: 'shared/main-nav' %>
      <main>
        <%= yield %>
      </main>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
