<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <!-- alerts -->
    <%= render partial: 'shared/alerts', locals: { notice: flash[:notice], alert: flash[:alert] } %>

    <section class="portal-dash" id="main">
      <%= yield %>
    </section>
  </body>
</html>
