<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <section id="main">
      <%= yield %>
    </section>
  </body>
</html>
